<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leicx.mapper.UsersReportMapper">
  <resultMap id="BaseResultMap" type="com.leicx.entity.UsersReport">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="video_id" jdbcType="INTEGER" property="videoId" />
    <result column="report_type" jdbcType="INTEGER" property="reportType" />
    <result column="report_desc" jdbcType="VARCHAR" property="reportDesc" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="del" jdbcType="TINYINT" property="del" />
  </resultMap>
</mapper>